/* % TO */
/* % REM */
/* % EM */
body._header .main-home-slider {
  overflow: visible !important;
  margin-top: 0;
}
body._header .main-home-slider .main-home-slider__content {
  height: 100vh;
}
body._header .main-home-slider .main-home-slider__describe-content {
  top: 101vh;
}

.main-home-slider {
  position: relative;
  /* .main-home-slider__content */
  /* .main-home-slider__slider-first-container */
  /* .main-home-slider__slider-first */
  /* .main-home-slider__slide */
}
.main-home-slider__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #f6f6f8;
  padding-bottom: 4.0625rem;
}
@media (max-width: 35.625rem) {
  .main-home-slider__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-home-slider__describe-content {
  padding-right: clamp( 0.625rem , 0.5rem  +  0.625vw , 1.25rem );
  padding-left: clamp( 0.625rem , 0.5rem  +  0.625vw , 1.25rem );
  padding-top: 1.875rem;
  position: absolute;
  left: 0;
  top: 76vh;
  width: 100%;
  padding-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-home-slider__describe {
  font-weight: 300;
  color: #7b7b7b;
  font-size: clamp( 1.0625rem , 1.0375rem  +  0.125vw , 1.1875rem );
}
.main-home-slider__describe:not(:last-child) {
  margin-bottom: 1.25rem;
}
.main-home-slider__slider-first-container, .main-home-slider__slider-second-container {
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  width: 100%;
  position: relative;
}
.main-home-slider__slider-first, .main-home-slider__slider-second, .main-home-slider__swipper,
.main-home-slider .swiper-wrapper {
  height: 100%;
}
.main-home-slider__slider-first, .main-home-slider__slider-second {
  position: absolute !important;
  width: 100%;
}
.main-home-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: clamp( 0.9375rem , 0.875rem  +  0.3125vw , 1.25rem );
  width: 100% !important;
  font-family: "Tsukimi Rounded";
  font-size: clamp( 1.25rem , 1.0625rem  +  0.9375vw , 2.1875rem );
  color: #393939;
  background-color: #f6f6f8;
  font-weight: 300;
}
.main-home-slider__slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-home-slider .main-home__content {
  min-height: 21.875rem;
}
.main-home-slider__icons {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  left: auto;
  bottom: auto;
}
.main-home-slider__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: clamp( 0.625rem , 0.5625rem  +  0.3125vw , 0.9375rem );
  z-index: 1;
  position: absolute;
  bottom: 0;
  padding: 1.5rem 0 0 1.25rem;
  width: 100%;
}
.main-home-slider__navigation > div {
  background-color: white;
  width: clamp( 2.1875rem , 2.125rem  +  0.3125vw , 2.5rem );
  height: clamp( 2.1875rem , 2.125rem  +  0.3125vw , 2.5rem );
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main-home-slider__navigation > div::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-image: url("../../../img/content/subfiles/home-slider/arrow.svg");
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .main-home-slider__navigation > div:hover {
    background-color: rgb(31, 31, 31);
  }
  .main-home-slider__navigation > div:hover::before {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}
.main-home-slider__navigation-next::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}