/* % TO */
/* % REM */
/* % EM */
.main-home-video {
  background-image: url("../../../img/content/subfiles/home-video/bg.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.main-home-video .main-home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.main-home-video__title {
  font-size: clamp( 1.5625rem , 1.3125rem  +  1.25vw , 2.8125rem );
  font-weight: 400;
}
.main-home-video__title:not(:last-child) {
  margin-bottom: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem );
}
.main-home-video__describe {
  font-size: clamp( 1.1875rem , 1.125rem  +  0.3125vw , 1.5rem );
  font-family: "Tsukimi Rounded";
  font-weight: 300;
  max-width: 43.75rem;
}
.main-home-video__describe:not(:last-child) {
  margin-bottom: clamp( 1.875rem , 1.5rem  +  1.875vw , 3.75rem );
}
.main-home-video__button {
  width: clamp( 3.125rem , 2.75rem  +  1.875vw , 5rem );
  height: clamp( 3.125rem , 2.75rem  +  1.875vw , 5rem );
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 1.25rem rgba(0, 0, 0, 0.2);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .main-home-video__button:hover {
    background-color: rgb(30, 30, 30);
  }
  .main-home-video__button:hover img {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}
.main-home-video__button img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  max-width: 1.25rem;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
.main-home-video__card {
  max-width: 65vw;
}

body._header .main-home-video {
  background-image: none;
}
body._header main {
  background-image: url("../../../img/content/subfiles/home-video/bg.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}